.logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.webpack-logo {
    width: 400px;
    height: 272px;
    border: none !important;
    box-shadow: none !important;
    margin: 0 40px !important;
}

.css-logo {
    width: 250px;
    height: 272px;
    box-shadow: none !important;
    border: none !important;
    margin: 0 40px !important;
}

.css-modules-logo {
    width: 400px;
    height: 400px;
    box-shadow: none !important;
    border: none !important;
    margin: 0 40px !important;
}

.css-nightmare-gif {
    height: 350px;
    width: auto;
    display: block;
    margin: 50px auto 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.plus {

}

.equal {

}

.inline {
    display: inline-block;
}

.reveal section ul {
    list-style-type: circle;
}

.reveal section li {
    margin: 0 0 0.5rem 0;
}

.reveal section h3 {
    margin: 0 0 1rem 0;
    color: #6B93DB;
}

.reveal section strong {
    color: #A9C6F2;
}

.reveal pre.fullscreen {
    margin-top: -20px;
}

.reveal pre.fullscreen code {
    max-height: 570px;
}

svg {
    width: 40px;
    height: 40px;
}